header{

    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: green;
    border-radius: 4px;
}

header.selection{

    font-size: 25px;
}

body.download{

    background-image: url(fortnite-download.jpg);
}